<a href="https://colab.research.google.com/github/Zade907/SPPU-TE-AIDS-Lab-Practicals/blob/main/DS_GroupA_Assn3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
#importing the pandas library

In [2]:
#reading the 'titanic.csv' file and storing it in a dataframe
data = pd.read_csv('/content/titanic.csv')
data #print the dataframe

,survived,pclass,name,sex,age,fare,sibsp,parch
0,0,3,"Braund, Mr. Owen Harris",male,22.0,7.2500,1,0
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,71.2833,1,0
2,1,3,"Heikkinen, Miss. Laina",female,26.0,7.9250,0,0
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,53.1000,1,0
4,0,3,"Allen, Mr. William Henry",male,35.0,8.0500,0,0
...,...,...,...,...,...,...,...,...
709,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,29.1250,0,5
710,0,2,"Montvila, Rev. Juozas",male,27.0,13.0000,0,0
711,1,1,"Graham, Miss. Margaret Edith",female,19.0,30.0000,0,0
712,1,1,"Behr, Mr. Karl Howell",male,26.0,30.0000,0,0
713,0,3,"Dooley, Mr. Patrick",male,32.0,7.7500,0,0

In [6]:
data.columns
#all the columns of the dataframe

Index(['survived', 'pclass', 'name', 'sex', 'age', 'fare', 'sibsp', 'parch'], dtype='object')

In [9]:
#grouped by 'pclass'
#Performed (mean, median, min, max, standard deviation) on columns[age, fare]
grouped_stats = data.groupby("pclass")[["age", "fare"]].agg(
    ["mean", "median", "min", "max", "std"]
)
grouped_stats

              age                                     fare                 \
             mean median   min   max        std       mean   median   min
pclass
1       38.233441   37.0  0.92  80.0  14.802856  87.961582  69.3000   0.0
2       29.877630   29.0  0.67  70.0  14.001077  21.471556  15.0458  10.5
3       25.140620   24.0  0.42  74.0  12.495398  13.229435   8.0500   0.0


             max        std
pclass
1       512.3292  80.857189
2        73.5000  13.187429
3        56.4958  10.043158

In [14]:
#creating a list grouping it by pclass = [1,2,3]
#storing the mean of p[i] at the ith index of the mean_fare_list
mean_fare_list = data.groupby("pclass")["fare"].mean().tolist()
print(mean_fare_list)

[87.96158225806452, 21.471556069364162, 13.229435211267605]

In [11]:
#read and stores the Iris.csv file in a dataframe
data2 = pd.read_csv('/content/Iris.csv')
data2

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [27]:
def calculate_stats(category):
  print(f"---------{category}----------")
  print(data2.groupby('Species')[category].describe())  #grouped by species and performed statistical insights
  print("\n")                                           # on each category of the the 3 species of the flowers

columns = data2.columns #columns of the dataset
for column in columns:
  calculate_stats(column) #passed every column as an argument in the function

---------Id----------
                 count   mean       std    min     25%    50%     75%    max
Species
Iris-setosa       50.0   25.5  14.57738    1.0   13.25   25.5   37.75   50.0
Iris-versicolor   50.0   75.5  14.57738   51.0   63.25   75.5   87.75  100.0
Iris-virginica    50.0  125.5  14.57738  101.0  113.25  125.5  137.75  150.0


---------SepalLengthCm----------
                 count   mean       std  min    25%  50%  75%  max
Species
Iris-setosa       50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
Iris-versicolor   50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
Iris-virginica    50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9


---------SepalWidthCm----------
                 count   mean       std  min    25%  50%    75%  max
Species
Iris-setosa       50.0  3.418  0.381024  2.3  3.125  3.4  3.675  4.4
Iris-versicolor   50.0  2.770  0.313798  2.0  2.525  2.8  3.000  3.4
Iris-virginica    50.0  2.974  0.322497  2.2  2.800  3.0  3.175  3.8


---------PetalLengthCm----------
                 count   mean       std  min  25%   50%    75%  max
Species
Iris-setosa       50.0  1.464  0.173511  1.0  1.4  1.50  1.575  1.9
Iris-versicolor   50.0  4.260  0.469911  3.0  4.0  4.35  4.600  5.1
Iris-virginica    50.0  5.552  0.551895  4.5  5.1  5.55  5.875  6.9


---------PetalWidthCm----------
                 count   mean       std  min  25%  50%  75%  max
Species
Iris-setosa       50.0  0.244  0.107210  0.1  0.2  0.2  0.3  0.6
Iris-versicolor   50.0  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
Iris-virginica    50.0  2.026  0.274650  1.4  1.8  2.0  2.3  2.5


---------Species----------
                count unique              top freq
Species
Iris-setosa        50      1      Iris-setosa   50
Iris-versicolor    50      1  Iris-versicolor   50
Iris-virginica     50      1   Iris-virginica   50